*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image:url(technology.jpg) ;
}


.logocontainer{
    width:100%;
    height:170px;
    background-color:whitesmoke;
}

.logo{
    width: 200px;
    height: 170px;
    display:block;
    margin-right: auto;
    margin-left: auto;
}


.navbar{
    height:50px;
    width:100%;
    background-color: #333;
    display:table;

}

ul {
    list-style-type: none;
    margin-left: 250px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height:50px;
    box-shadow: #bbb 2px 2px 2px;
  }
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    text-shadow: rgb(156, 156, 156) 1px 1px;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  li:last-child {
    border-right: none;
  }

  .headingbox{
    width:100%;
    height:100px;
    background-image: url(technology.jpg);
    position: relative;
  }

  h2{
    font-size:25px;
    position:relative;
    background-color:whitesmoke;
    color:#333;
    font-size: 25px; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border: 1px,1px;
  }

  .webapplicationbox{
    height:575px;
    width:90%;
    background-color:rgb(214, 182, 243);
    display:block;
    margin-right: auto;
    margin-left: auto;
  }

  h3{
    font-size:35px;
    color:purple;
    text-align: center;
    position:relative;
    margin-top:5px;
    margin-left:25px;
    text-shadow: rgb(156, 156, 156) 1px 1px;
    padding-top:20px;
    }

    h4{
        font-size:25px;
        color:grey;
        margin-top:25px;
        margin-bottom:25px; 
        text-align: center;
      }

    p{
        font-size: large;
        width:90%;
        margin-left:20px;
        text-align:center;
        padding-top:20px;
        margin-bottom:20px;
        color:gray; 
        margin-left:20px;
        margin-right:20px;
      }

      .cart{
        width:200px;
        height:180px;
        margin-top:10px;
        display:block;
        margin-right: auto;
        margin-left: auto;
        border:1px,solid;
      }

      .socialbox{
        height:325px;
        width:100%;
        background-color:rgb(185, 218, 245);
        position: relative;
        display:block;
        margin-right: auto;
        margin-left: auto;
        margin-top:-10px;
      }

      .chat{
        width:200px;
        height:180px;
        margin-top:10px;
        display:block;
        margin-right: auto;
        margin-left: auto;
        border:1px,solid;
      }
    
    
      h5{
        font-size:35px;
        color:rgb(13, 83, 173);
        text-align: left;
        position:relative;
        margin-left:25px;
        text-shadow: rgb(156, 156, 156) 1px 1px;
        margin-left:550px;
        }

        .games{
          width:200px;
          height:180px;
          margin-top:10px;
          display:block;
          margin-right: auto;
          margin-left: auto;
          border:1px,solid;
        }

        h6{
          font-size:35px;
          color:rgb(245, 159, 30);
          text-align: left;
          position:relative;
          margin-top:25px;
          margin-left:25px;
          text-shadow: rgb(156, 156, 156) 1px 1px;
          margin-left:620px;
          }

          .gamesbox{
            height:500px;
            width:100%;
            background-color:rgb(248, 213, 172);
            position: relative;
            margin-top:20px;
          }

